<configuration>
    <!-- Uncomment the next line to enable ANSI color code interpretation -->
    <!-- <property name="STDOUT_WITH_JANSI" value="true" /> -->
    <include resource="io/micronaut/gcp/logging/logback-json-appender.xml"/>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE_JSON"/>
    </root>
</configuration>

